<div class="avatar-container">
    <img src="/images/shadow.png" class="avatar-shadow">
    <div class="avatar-dressed">
        <img src="/images/avatar1.png" class="avatar-layer base-avatar">
        <div class="clothing-layers"></div>
    </div>
</div>