<nav class="navbar navbar-light bg-white fixed-bottom py-1 shadow-sm">
  <div class="container-fluid justify-content-between">
    <ul class="navbar-nav d-flex flex-row w-100 justify-content-around">
      <li class="nav-item">
        <a class="nav-link" href="/home">
          <i class="bi bi-house fs-4"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calendar">
          <i class="bi bi-calendar fs-4"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/friends">
          <i class="bi bi-people fs-4"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">
          <i class="bi bi-gear fs-4"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
