<nav class="navbar navbar-light bg-white fixed-bottom py-3 shadow-sm">
  <div class="container-fluid justify-content-between">
    <ul class="navbar-nav d-flex flex-row w-100 justify-content-around">
      <li class="nav-item">
        <a class="nav-link" href="/home">
          <i class="fas fa-home fa-lg"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calendar">
          <i class="fas fa-calendar-alt fa-lg"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/friends">
          <i class="fas fa-user-friends fa-lg"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">
          <i class="fas fa-cog fa-lg"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
